tr.selected {
	background: lightblue;
}
tr {
	cursor: pointer;
}

th {
	padding: 5px;
}

#error {
	color: red;
}

#success {
	color: green;	
}

input.obaveznoPolje {
	
	background-color: lightcoral;
}